.App {
  background-color: #e0e0e0;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.sample-form {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.login-text {
  font-weight: 900;
  font-size: 22px;
  margin-bottom: 25px;
}
